body {
    background-color: rgb(97, 114, 114);
    font-size: 25px;
    font-family: Courier;
    width: 150px;
    height: 150px;
    display: grid;
}

.im {
    background-color: rgb(95, 149, 118);
    color: rgb(255, 255, 255);
    margin: 10px;
    float: none;
    width: -webkit-fill-available;
    display: -webkit-inline-box;
    font-size: large;
}

.clock {
    padding-top: 50px;
    margin: 12rem;
    height: 10rem;
    display: flex;
    align-items: center;
}

.pop {
    background-color: rgb(95, 149, 118);
    color: rgb(255, 255, 255);
    margin: auto;
    float: none;
    justify-content: center;
    align-items: center;
    display: block;
    margin-block-start: 3em;
    margin-inline-end: 50px;
}

.charizard {
    height: 150px;
    overflow-x: hidden;
    overflow-y: inherit;
}

.table_style {
    display: flex;
    border: 5px solid black;
    background-color: rgb(181, 220, 207);
    width: 350;
    height: 350;
    opacity: 10;
    border-spacing: 50px;
}

.footer {
    background-color: rgb(95, 149, 118);
    width: -webkit-fill-available;
    justify-content: space-around;
    align-items: flex-end;

}

.foto2 {
    padding: 10px;
    margin: 5px;
    float: left;
    width: 4500px;
    text-align: center;
    justify-content: center;
    font-size: 50px;
}

.foto1 {
    padding: 10px;
    margin: 5px;
    float: left;
    width: 300px;
    text-align: -webkit-center;
    justify-content: flex-end;
    display: block;
}