body {
    background-color: rgb(184, 222, 222);
    font-size: 25px;
    font-family: Courier;
    border: 1px;
    display:contents;
}

.pop {
    background-color: rgb(95, 149, 118);
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 5px;
    float: left;
    width: 200px;
    text-align: center;

 }
.foto2 {
    padding: 10px;
    margin: 10px;
    float: left;
    width: 500px;
    text-align: center;
    justify-content: center;
}

.foto1 {
    padding: 10px;
    margin: 10px;
    float: left;
    width: 300px;
    text-align: center;
}

.footer {
    background-color: rgb(95, 149, 118);

}

.im {
    background-color: rgb(95, 149, 118);
    color: rgb(8, 8, 8);
    padding: 10px;
    margin: 10px;
    float: left;
    width: 1220px;
}

.table_style {
    display: flex;
    border: 1px solid black;
    width: 350;
    height: 350;
    opacity: 10;
   
}

.clock {
    padding-top: 50px;
    margin: 12rem;
    height: 20rem;
    display: flex;
    align-items: center;
}

main{
    padding: 0%;
}